<div ng-controller="Smp3InfoCtrl" ng-show="artist">
    <h2>
        {{artist.name}}
    </h2>
    <div>
        <img src="{{artist.additional.thumb}}" />
    </div>
    <div>
        {{artist.profile}}
    </div>
    <h3>
        Members
    </h3>
    <ul>
        <li ng-repeat="member in artist.members">
            {{member.name}} <span ng-if="!member.active">(past)</span>
        </li>
    </ul>
    <h3>Releases</h3>
    <table class="">
        <tbody>
            <tr ng-repeat="release in artist.releases">
                <td>
                    {{release.title}}
                </td>
                <td>
                    {{release.label}}
                </td>
                <td>
                    {{release.year}}
                </td>
            </tr>
        </tbody>
    </table>
    <a href="{{artist.uri}}" target="_blank">{{artist.uri}}</a>
</div>