Search: <input ng-model="searchLibrary" />
<table width="100%" border="1">
    <thead>
        <tr>
            <th>
                Artist
            </th>
            <th>
                Title
            </th>
            <th>
                Album
            </th>
            <th>
                Track number
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in library | filter:searchLibrary">
            <td>
                {{item.info.artist}}
            </td>
            <td>
                {{item.info.title}}
            </td>
            <td>
                {{item.info.album}}
            </td>
            <td>
                {{item.info.track_number}}
            </td>
            <td>
                <button ng-click="play(item)">
                    Play
                </button>
                <button ng-click="enqueue(item)">
                    Enqueue
                </button>
            </td>
        </tr>
    </tbody>
</table>