<div id="library-container">
    <h2>
        Library <button ng-click="discover()">Discover</button>
    </h2>
    <div id="library" ng-include="'partials/file_list.html'"></div>    
</div>
<div id="playlist-container">
    <h2>
        Playlist
    </h2>
    <div id="playlist" ng-controller="Smp3PlaylistCtrl">
        <ul>
            <li ng-repeat="item in queue track by $index" 
                ng-class="{current: $index==pointer}"
                >
                <span  ng-click="play($index)">{{item.file_name}}</span> 
                <button ng-click="delete($index)">Delete</button>
            </li>
        </ul>
    </div>
</div>
<div id="player" ng-controller="Smp3PlayerCtrl">
    <div>
        Now playing: 
        <span ng-show="current_file">
            {{current_file.info.artist}} - {{current_file.info.title}}
        </span>
        <span ng-hide="current_file">
            ---
        </span>
    </div>
    <button ng-click="play()">
        Play
    </button>
    <button ng-click="pause()">
        Pause
    </button>
    <button ng-click="stop()">
        Stop
    </button>
</div>