<button ng-click="discover()">Discover</button>
<div class="library">
    <ul>
        <li ng-repeat="item in library">
            {{item.id}} - {{item.file_name}}
            <button ng-click="play(item)">
                Play
            </button>
            <button>
                Enqueue
            </button>
        </li>
    </ul>
</div>
<div class="playlist">
    
</div>
<div id="player" ng-controller="Smp3PlayerCtrl">
    <div>
        Now playing: {{current_file.file_name}}
    </div>
    <button ng-click="play()">
        Play
    </button>
    <button ng-click="pause()">
        Pause
    </button>
    <button ng-click="stop()">
        Stop
    </button>
</div>